.services{

    &__title{
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-decoration: none;
        color: #24A3FF;
    }

    &__flex-title{
        font-size: 30px;
        font-weight: bold;
        color: #F0145A;
        margin-top: 10px;
        margin-bottom: 15px;
    }
}