.services-flex{
    display: flex;
    flex-direction: column;

    &__item{
        padding: 15px 0;
    }

    &__item-title{
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 22px;
        font-weight: bold;
        color: #24A3FF;
        text-decoration: none;
        display: block;
    }

    &__item-info{
        color: white;
        font-size: 16px;
        line-height: 26px;
    }
}